@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Poppins:wght@600&family=Roboto+Mono:wght@600&display=swap');

        body {
            margin: 0;
        }

        header {
            width: 100%;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #21D4FD;
            background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
            flex-direction: column;
        }

        nav {
            width: 100%;
            height: 80px;
            position: absolute;
            top: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        nav span {
            color: white;
            font-family: 'Poppins', sans-serif;
            font-size: 28px;
        }

        .container {
            background: white;
            width: 200px;
            height: 70px;
            border-radius: 12px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            box-shadow: 3px 3px 10px black;
        }

        #plus,
        #min {
            /* background: none; */
            width: 65px;
            height: 100%;
            border: none;
            border-radius: 12px;
            font-size: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            font-family: 'Poppins', sans-serif;
            transition: 0.1s;
            border: solid 0px;
        }

        #plus:hover {
            border: solid 5px #44D62C;
        }

        #min:hover {
            border: solid 5px crimson;
        }

        #plus:active,
        #min:active {
            font-size: 30px;
        }

        #number {
            font-size: 30px;
            font-weight: 700;
            font-family: 'Poppins', sans-serif;
        }

        .buttonOptions {
            position: absolute;
            bottom: 5vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-family: 'Poppins', sans-serif;
            color: white;
        }

        .buttonOptions div {
            width: 80%;
            display: flex;
            justify-content: space-evenly;
        }

        .buttonOptions button {
            font-family: 'Poppins', sans-serif;
            border: none;
            padding: 0px 10px;
            height: 30px;
            border-radius: 12px;
            cursor: pointer;
            transition: 0.2s ease-in-out;
            margin-bottom: 10px;
        }

        .buttonOptions span {
            opacity: 0.5;
        }

        .buttonOptions button:hover {
            box-shadow: 3px 3px 10px black;
        }

        .notice {
            padding: 20px;
            margin: 0px 40px;
            border-radius: 12px;
            background: white;
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            flex-direction: column;
            font-family: 'Poppins', sans-serif;
            box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.546);
            transition: 0.5s ease-in-out;
            top: -50vh;
        }
        .notice button {
            border: none;
            border-radius: 99px;
            padding: 10px 50px;
            margin-top: 15px;
            cursor: pointer;
            font-family: 'Poppins', sans-serif;
        }